apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: jira-service-desk-operator-webhook-service
spec:
  ports:
  - protocol: TCP
    targetPort: 9443
  selector:
    control-plane: controller-manager
status:
  loadBalancer: {}
