apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.0.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
  name: jira-service-desk-operator.vX.Y.Z
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Project is the Schema for the projects API
      displayName: Project
      kind: Project
      name: projects.jiraservicedesk.stakater.com
      version: v1alpha1
  description: Kubernetes operator for Jira Service Desk
  displayName: jira-service-desk-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - jira
  - service
  - desk
  - operator
  - kubernetes
  - openshift
  links:
  - name: Jira Service Desk Operator
    url: https://jira-service-desk-operator.domain
  maintainers:
  - email: hello@stakater.com
    name: Stakater
  maturity: alpha
  provider:
    name: stakater
    url: https://stakater.com
  version: 0.0.0
